body {
    background-image: url("background.png");
    font-family: 'Raleway', sans-serif;
}

#header {
    background-color: rgba(105, 187, 234, 0.3);
    width: 80%;
    margin: auto;
    height: 130px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    margin-left: 60px;
    
}
#titleBox {
    text-align: left;
}
#title {
    font-weight: 400;
    display: inline;
    font-size: 20px;
}
#time {
    display: inline;
    padding: 20px;
    font-weight: 400;
    margin-top: 20px;
}
#timeStamp {
    display: inline;
    font-weight: 400;
}





#searchImg {
    float: left;
    margin-left: 30px;
    width: 30px;
    margin-top: 30px;
}
#searchBar {
    display: flex;
    width: 80%;
    position: fixed;
    bottom: 20px;
    margin-left: 60px;
    
}
#search {
    float: right;
    margin-left: 60px;
    width: 80%;
}




#main {
    position: fixed;
    width: 80%;
    top: 150px;
    margin-left: 60px;
    bottom: 100px;
    border:1px solid blue;
}







#options {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}


.option {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    background: white;
    border: none;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: #142b51;
    margin-top: 30px;
}

