body {
    background-image: url("background.png");
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
}
.hidden {
    display: none;
}
input, button {
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
}

#header {
    background-color: rgba(105, 187, 234, 0.3);
    width: 80%;
    margin: auto;
    height: 130px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    margin-left: 60px;
    
}
#titleBox {
    text-align: left;
}
#title {
    display: inline;
    font-size: 20px;
    padding: 20px;
}
#time {
    display: inline;
    font-size: 80px;
}
#timeStamp {
    display: inline;
}


#searchImg {
    float: right;
    margin-top: 30px;
    width: 30px;
    margin-left: 20px;
}
#searchBar {
    display: flex;
    width: 80%;
    position: fixed;
    bottom: 20px;
    margin-left: 60px;
    height: 80px;
    
}
#search {
    margin-left: 50px;
    width: 75%;
}


.main {
    position: fixed;
    width: 80%;
    top: 150px;
    margin-left: 60px;
    bottom: 100px;
    overflow: scroll;
}

#backImg {
    margin-top: 20px;
    width: 60px;
}









/* -----------------------------------------------------*/
/* THIS IS FOR THE DASHBOARD */

#dashboard {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.option {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    background: white;
    border: none;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    color: #142b51;
    margin-top: 30px;
}
.icon {
    width: 40px;
    float: right;
}

/* -----------------------------------------------------*/
/* THIS IS FOR THE MESSAGING */
.message {
    background-color:  rgba(198, 198, 198, 0.3);
    padding: 10px;
    margin-top: 20px;
}
.message .time {
    float: right;
    margin-top: 0px;
   
}
.message p{
    padding: 10px;
}
.message h4 {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

#newMess {
    position: fixed;
    bottom: 120px;
}
#newMess img {
    width: 70px;
}

#newMessage {
    width: 80%;
    top: 30%;
    margin-left: 60px;
    position: fixed;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
}
#newMessage button {
    margin-left: 40px;
}
#cancelMessage {
    background-color: rgba(0, 0, 0, 0.2);
}
#newMessage p, #newMessage input, #newMessage textarea {
    margin-left: 40px;
}

/* -----------------------------------------------------*/
/* THIS IS FOR ALL RESIDENT CONTACTS */
h4 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    font-weight: 200;
    font-style: italic;
}
#residents {
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.resident {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    background: white;
    border: none;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    color: #142b51;
    margin-top: 30px;
}
.edit {
    width: 35px;
    float: right;
}


/* -----------------------------------------------------*/
/* THIS IS FOR THE BETH MESSAGES */

#flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    position: fixed;
    bottom: 100px;
}

.messageBeth {
    background-color:  rgba(198, 198, 198, 0.3);
    padding: 10px;
    margin-top: 20px;
    width: 70%;
}
.mine {
    align-self: flex-end;
    -webkit-align-self: flex-end;
}
.time {
    float: right;
    margin-top: 0px;
}
input, textarea {
    font-size: 35px;
    padding: 5px;
}
#messageInput {
    
    width: 100%;
}
#messageInDiv {
    padding-top: 20px;
}

/* -----------------------------------------------------*/
/* THIS IS FOR THE QUEUE */

.resident, .map, .queueTime {
    font-family: 'Raleway', sans-serif;
    background: white;
    text-align: left;
    text-decoration: none;
    color: #142b51;
    padding: 10px;
}
.resident {
    padding: 20px;
    margin-top: 30px;
    font-size: 28px;

}
.map, .queueTime {
    display: inline;
    margin-left: 30px;
    position: absolute;
}
.queueTime {
    margin-left: 300px;
}
.resident:hover {
    background-color:  rgba(105, 187, 234, 0.3);
}
.queue img {
    width: 100px;
}
.queue {
    margin-top: 10px;
    background-color:  rgba(198, 198, 198, 0.3);
    padding: 10px;
}

#emergencyQueue {
    background-color:  rgba(105, 187, 234, 0.3);
    border: none;
}
.check {
    -webkit-transform: scale(4);
    display: inline;
    margin-left: 610px;
    margin-top: 50px;
    position: absolute;
}



/* -----------------------------------------------------*/
/* THIS IS FOR JOANNES PAGE */


.item{
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    color: #142b51;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    overflow: scroll;
    padding: 10px;
    background-color:  rgba(198, 198, 198, 0.3);
}
.answer {
    margin-left: 20px;
    font-style: italic;
    font-size: 26px;
}

.title {
    font-weight: 800;
}

#map-hidden {
    height: 300px;
}

.dots {
    width: 40px;
    float: right;
    margin-right: 30px;
}

#edit {
    width: 50px;
    margin-top: 30px;
    margin-left: 90%;
    position: absolute;
}

input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
}

#joanneImg {
    width: 265px;
    margin-left: 260px;
}


/* -----------------------------------------------------*/
/* THIS IS FOR THE HELP ALERT */

.alert {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.alertBox {
    width: 90%;
    margin: auto;
    margin-top: 40%;
    padding: 5px;
    height: 400px;
    background-color: white;
}

.alertTitle {
    font-weight: 800;
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
}

.alertDescr {
    text-align: center;
    
}
#emergencyBox {
    border: 4px solid red;
}

button {
    background-color: white;
    font-size: 25px;
}

.button {
    width: 60%;
    margin : 5px;
    margin-left: 200px;
    display: inline;
}
#accept {
    border: 2px solid green;
    background-color: rgb(210, 224, 208);
}
#reject {
    border: 2px solid red;
    background-color: rgba(226, 188, 183, 0.7);
}

