body {
    background-image: url("background.png");
    font-family: 'Raleway', sans-serif;
}

#header {
    background-color: rgba(105, 187, 234, 0.3);
    width: 80%;
    margin: auto;
    height: 150px;
    text-align: center;
    border-radius: 25px;
    
}
#title {
    text-align: left;
}
h1 {
    font-weight: 400;
    display: inline;
    font-size: 80px;
}
h2 {
    display: inline;
    padding: 20px;
    font-weight: 400;
    margin-top: 20px;
}
h3 {
    display: inline;
    font-weight: 400;
}

#main {
    margin-top: 30px;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
}
#backImg {
    width: 60px;
}
#back {
    bottom: 30px;
    left: 10%;
    position: absolute;
}
